@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;700&family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Gurmukhi MN";
  src: local("Gurmukhi MN"), url("font/GurmukhiMN.woff2") format("woff2"),
    url("font/GurmukhiMN.woff") format("woff");
}

@font-face {
  font-family: "Gurmukhi MN Bold";
  src: local("Gurmukhi MN"), url("font/GurmukhiMN-Bold.woff2") format("woff2"),
    url("font/GurmukhiMN-Bold.woff") format("woff");
  font-weight: 700;
}
