.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-ice-blue);
  margin: 24px;
  color: #ffffff;
  height: 381px;
}
.sign-up h2 {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 280px;
  max-width: 500px;
  border-bottom: 1px solid #ffffff;
}
.sign-up-container input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.sign-up-container input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.sign-up-container button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}
.sign-up-container button:active {
  transition: all 0.3s ease;
  transform-origin: center;
  transform: scale(1.5);
}
/* sign up section end*/

/* footer start */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-top: 2px solid #000000;
  font-weight: 700;
  font-size: 20px;
  height: 320px;
}
.footer-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 204px;
}
.footer-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer-right-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  gap: 5px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 204px;
}
.footer p {
  margin: 0;
  padding-bottom: 32px;
}
.footer-only-desktop {
  display: none;
}

@media (min-width: 768px) {
  .sign-up h2 {
    font-size: 60px;
    font-weight: 500;
    width: 620px;
    height: 288px;
    padding: 0;
  }
  .sign-up {
    margin: 64px;
    height: 684px;
  }
  .sign-up-container {
    width: 643px;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 5px;
  }
  .sign-up-container input {
    font-size: 24px;
    width: 620px;
  }
  .sign-up-container input::placeholder {
    font-size: 24px;
  }
  .sign-up-container button {
    width: 24px;
    height: 24px;
  }
  .sign-up-container button img {
    width: 14px;
    height: 20px;
  }
  .footer-only-mobile {
    display: none;
  }
  .footer-only-desktop {
    display: block;
  }
  .footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .footer-left {
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b c"
      "d e f";
    width: 500px;
    height: 200px;
    margin-top: -70px;
    gap: 20px;
  }
  .footer p {
    padding-bottom: 15px;
  }
  .socials {
    /* padding-top: 40px; */
    align-self: start;
    display: flex;
    gap: 24px;
  }
  .footer-left p {
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0;
  }
  .footer-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 10px; */
    padding-bottom: 30px;
  }
  .footer-right img:nth-of-type(2) {
    padding-bottom: 23px;
  }

  .footer-right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-right p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .footer-center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }
  .footer-center:nth-child(1) {
    padding-bottom: 50px;
  }
  .footer-center h3 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 8px;
    margin: 0;
  }
  .footer-center p {
    font-size: 16px;
    font-weight: 500;
    width: 150px;
  }
}
