:root {
  --color-white: #ffffff;
  --color-blackberry: #212121;
  /* GREEN */
  --color-naturegreen: #719476;
  --color-greenly: #8db993;
  /* BLUE */
  --color-ice-blue: #97c2de;
  --color-blueberry: #7ca6c2;
}

* {
  box-sizing: border-box;
}
body {
  padding-top: 140px;
  margin: 0;
  font-family: futura, sans-serif;
}
