/* Start drop down nav */
nav.drop-down {
  position: fixed;
  height: 365px;
  width: 64%;
  left: 0px;
  top: 65px;
  transform: translateX(-105%);
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav.drop-down.active {
  transform: translateX(0%);
}
nav.drop-down ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 111px;
}
nav.drop-down ul li {
  margin-bottom: 24px;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
  list-style: none;
}
nav.drop-down ul a {
  text-decoration: none;
}
nav.drop-down div.drop-down-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 800;
  font-size: 1rem;
}
