@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Encode Sans Condensed", sans-serif;
}

/*header start*/
.navbar {
  position: -webkit-absolute;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}
/*header end*/

/*nav/header start*/
.hamburger {
}

.line {
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}
/*active line create an N OBS, change to X*/
.active .line1 {
  transform: rotate(-90deg) translate(-9px, 9.4px);
}
.active .line2 {
  transform: rotate(55deg) translate(-2px, 2px);
  width: 35px;
  height: 5px;
}
.active .line3 {
  transform: rotate(90deg) translate(-9px, 10px);
}

/* Start drop down nav */
nav.drop-down {
  position: fixed;
  height: 365px;
  width: 64%;
  left: 0px;
  top: 80px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}
body.active nav.drop-down {
  transform: translateX(0%);
}
nav.drop-down ul {
  dipslay: flex;
  flex-direction: column;
  margin-bottom: 111px;
}
nav.drop-down ul li {
  margin-bottom: 24px;
}
/*End drop-down nav */

/*nav/header end*/

/* carousel start*/
.carousel {
  position: relative;
  height: 100vh;
}

.carousel-item {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  display: none;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-selected {
  display: block;
}

.second .carousel-button {
  background: #d9d9d9;
  border: none;
}
.second .carousel-button-selected {
  background: #4d4d4d;
}

.second .carousel-img {
  height: 92%;
}

.second .carousel-nav {
  margin: 0;
  gap: 5px;
}

.last {
  margin-top: -45px;
}

.carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-button-selected {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #ffffff;
}
/* carousel end */

/* hero text start */
.hero-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-span h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
}

.hero-span button {
  background: #dbdbdb;
  color: #000000;
  border: none;
  padding: 10px 41px;
  border-radius: 18px;
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}
/* hero text end */

/* HORIZONTAL SCROLL (mirrored img)*/
.scroll-container {
  overflow: auto;
  white-space: nowrap;
  background: transparent;
  height: 100%;
  margin-top: 50px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.gridscroll {
  display: inline-block;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.gridscroll img {
  margin: -3px;
  padding: 0px;
}
/* end of HORIZONTAL SCROLL */

/* product cards start*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  padding-top: 20px;
  display: inline-block;
  width: 90%;
  margin: 10px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}
.card-img-1 {
  width: 100%;
  height: 540px;
  object-fit: cover;
}
.card-img-2 {
  width: 100%;
  height: 312px;
  object-fit: cover;
}
.card-container-img img:nth-of-type(2) {
  padding-top: 24px;
}

.card span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* heart container should be located with product information */
.heart-container {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}
/* v-scroll should not be neded when above change has been made */
.v-scroll {
  margin-right: 20px;
}
/* heart container end */
/* product cards end */

/* not in use? start*/
.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-gap: 10px;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline .media-element {
  scroll-snap-type: inline mandatory;
}
.snap-inline .media-element > * {
  scroll-snap-align: start;
}
.second {
  height: 539px;
}
/* not in use? end*/

/* sign up section start*/
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #b5b5b5;
  margin: 20px;
  color: #ffffff;
  height: 381px;
}
.sign-up h2 {
  font-size: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 75%;
  max-width: 500px;
  border-bottom: 1px solid #ffffff;
}
.sign-up-container input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.sign-up-container input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.sign-up-container button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}
.sign-up-container button:active {
  transition: all 0.3s ease;
  transform-origin: center;
  transform: scale(1.5);
}
/* sign up section end*/

/* footer start */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-top: 2px solid #000000;
  font-weight: 700;
  font-size: 20px;
  height: 320px;
}
.footer-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 204px;
}
.footer-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer-right-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  gap: 5px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 204px;
}
.footer p {
  margin: 0;
  padding-bottom: 32px;
}
/* footer end */
/* img hover effect (change and add to section) */
.img-hover {
  scale: 1.2;
  border: 2px solid #000000;
}
/* img hover effect end */
